<div class="background">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h1 class="text-center display-4">
                    Registrarse
                </h1>
                <hr>
              </div>
            </div>
            <form>
              <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label >Cédula</label>
                        <input class="form-control" placeholder="Ingrese su cédula">
                      </div>
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="email" class="form-control" placeholder="Ingrese su nombre">
                  </div>
                  <div class="form-group">
                      <label >Apellido</label>
                      <input class="form-control" placeholder="Ingrese su apellido">
                    </div>
                   
                      <div class="form-group">
                          <label >Celular</label>
                          <input class="form-control" placeholder="Ingrese su celular">
                        </div>
                 

                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label >Correo</label>
                        <input class="form-control" placeholder="Ingrese su correo">
                      </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control"  placeholder="Contraseña">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Confirmar contraseña</label>
                          <input type="password" class="form-control"  placeholder="Confirmar contraseña">
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Acepto los <a [routerLink]="[ '/path']">Términos y condiciones</a></label>
                          </div>
                          <hr>
                        <button type="submit" class="btn btn-outline-primary btn-block">Registrarre</button>
                </div>
              </div>
            </form>





          </div>
        </div>

      </div>
    </div>
  </div>
</div>