<div class="background">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h1 class="text-center display-4">
                  Registrarse
                </h1>
                <hr>
              </div>
            </div>
            <form [formGroup]="formulario" (ngSubmit)="guardar()" novalidate="novalidate">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Cédula</label>
                    <input class="form-control" placeholder="Ingrese su cédula" formControlName="cedula" [ngClass]="{'is-invalid': formulario.controls['cedula'].errors?.required && formulario.controls.cedula.touched}">
                    <div *ngIf="(formulario.controls['cedula'].errors?.required &&
                                    formulario.controls['cedula'].touched)"
                      class="text-danger">
                      <small>La cédula es obligatoria</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="email" class="form-control" placeholder="Ingrese su nombre" formControlName="nombre"
                      [ngClass]="{'is-invalid': (formulario.controls['nombre'].errors?.required &&
                                                formulario.controls.nombre.touched)}">
                    <div *ngIf="formulario.controls['nombre'].errors?.required && formulario.controls['nombre'].touched"
                      class="text-danger">
                      <small>El nombre es obligatorio</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Apellido</label>
                    <input class="form-control" placeholder="Ingrese su apellido" formControlName="apellido" [ngClass]="{'is-invalid': formulario.controls['apellido'].errors?.required && formulario.controls.apellido.touched}">
                    <div *ngIf="formulario.controls['apellido'].errors?.required && formulario.controls['apellido'].touched"
                      class="text-danger">
                      <small>El apellido es obligatorio</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Celular</label>
                    <input class="form-control" placeholder="Ingrese su celular" formControlName="celular" [ngClass]="{'is-invalid': formulario.controls['celular'].errors?.required && formulario.controls.celular.touched}">
                    <div *ngIf="formulario.controls['celular'].errors?.required && formulario.controls['celular'].touched"
                      class="text-danger">
                      <small>El celular es obligatorio</small>
                    </div>
                  </div>


                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Correo</label>
                    <input class="form-control" placeholder="Ingrese su correo" formControlName="correo"
                     [ngClass]="{'is-invalid': (formulario.controls['correo'].errors?.pattern || formulario.controls['correo'].errors?.required) && formulario.controls.correo.touched}">
                    <div *ngIf="formulario.controls['correo'].errors?.required && formulario.controls['correo'].touched"
                      class="text-danger">
                      <small>El correo es obligatorio</small>
                    </div>
                    <div *ngIf="formulario.controls['correo'].errors?.pattern && formulario.controls['correo'].touched"
                      class="text-danger">
                      <small>Correo no válido</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="contrasena"
                      [ngClass]="{'is-invalid': formulario.controls['contrasena'].invalid && formulario.controls.contrasena.touched}">
                      <div *ngIf="formulario.controls['contrasena'].invalid && formulario.controls['contrasena'].touched"
                      class="text-danger">
                      <small>La contraseña debe tener mínimo 8 caracteres </small>
                    </div>
                   
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Confirmar contraseña</label>
                    <input type="password" class="form-control" placeholder="Confirmar contraseña">
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck" formControlName="terminosYCondiciones">
                    <label class="custom-control-label" for="customCheck">Acepto los <a href="">términos y condiciones</a>
                    </label>
                  </div>

                  <hr>
                  <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!formulario.valid">Registrarse</button>
                </div>
              </div>
            </form>





          </div>
        </div>

      </div>
    </div>
  </div>
</div>